
<%=render 'movies/filter' %>



<h1>Movies</h1>

<% if @movies.any? %>
<table class="table table-striped table-bordered" >
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Release date</th>
      <th scope="col">Average Rating</th>
      <th scope="col">Review Count</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody id="movie-body">
    <% @movies.each do |movie| %>
         <%=render 'movie', movie: movie %>
    <% end %>
  </tbody>
</table>
<% else %>
  <h1 class="d-flex align-items-center justify-content-center w-100 h-100", style="margin-top: 10rem">No movies Available</h1>
  <%end %>
<br>

<%= link_to 'New Movie', new_movie_path , :class => 'btn btn-primary movie-create', data: { bs_toggle: "modal", bs_target: "#exampleModal"}, remote:true if can? :create ,Movie%>

<br><br>
<div class="apple_pagination">
  <%= will_paginate @movies, :container => false %>
</div>
