<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <% resource.errors.full_messages.each do |message| %>
      <p style="color: #B00100" class="text-center"><%= message %></p>
    <% end %>
  </div>
<% end %>
