<%= form_with(model: [@movie, review], local: false) do |form| %>

  <div id="err"></div>

  <div class="field mb-3">
    <%= form.text_area :body, :class => 'form-control review-body' %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-primary'%>
  </div>
<% end %>
